/*
Error: Invalid CSS after "": expected selector, was "<<<<<<< HEAD"
        on line 1 of /Users/rdrew/themes/lmmi_2015/sass/components/_search.scss
        from line 17 of /Users/rdrew/themes/lmmi_2015/sass/components/**\/*
        from line 23 of /Users/rdrew/themes/lmmi_2015/sass/lmmi-2015.styles.scss
        from line 5 of /Users/rdrew/themes/lmmi_2015/sass/lmmi-2015.no-query.scss

1: $breakpoint-no-queries: true;
2: $breakpoint-no-query-fallbacks: true;
3: 
4: // Re-render everything from styles.scss but without media queries.
5: @import "lmmi-2015.styles";

Backtrace:
/Users/rdrew/themes/lmmi_2015/sass/components/_search.scss:1
/Users/rdrew/themes/lmmi_2015/sass/components/**\/*:17
/Users/rdrew/themes/lmmi_2015/sass/lmmi-2015.styles.scss:23
/Users/rdrew/themes/lmmi_2015/sass/lmmi-2015.no-query.scss:5
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/scss/parser.rb:1164:in `expected'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/scss/parser.rb:1098:in `expected'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/scss/parser.rb:1078:in `expr!'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/scss/static_parser.rb:20:in `parse_selector'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:425:in `visit_rule'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:88:in `block in with_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:88:in `with_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:88:in `block in with_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:88:in `with_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block (2 levels) in visit_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `map'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:326:in `block in visit_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:88:in `block in with_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:88:in `with_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:323:in `visit_import'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `block in visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:79:in `block in with_base'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:115:in `with_frame'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/stack.rb:79:in `with_base'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:158:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `block in visit_children'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `map'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:52:in `visit_children'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:167:in `block in visit_children'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:179:in `with_environment'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:166:in `visit_children'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `block in visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:186:in `visit_root'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/base.rb:36:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:157:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/visitors/perform.rb:8:in `visit'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/root_node.rb:36:in `css_tree'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/tree/root_node.rb:29:in `render_with_sourcemap'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/engine.rb:378:in `_render_with_sourcemap'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/engine.rb:295:in `render_with_sourcemap'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `each'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/sass-3.4.18/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/compass-1.0.3/lib/compass/sass_compiler.rb:40:in `compile!'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/compass-1.0.3/lib/compass/commands/update_project.rb:49:in `perform'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/compass-1.0.3/lib/compass/commands/base.rb:18:in `execute'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/compass-1.0.3/lib/compass/commands/project_base.rb:19:in `execute'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:43:in `perform!'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/compass-1.0.3/lib/compass/exec/sub_command_ui.rb:15:in `run!'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/compass-1.0.3/bin/compass:30:in `block in <top (required)>'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/compass-1.0.3/bin/compass:44:in `call'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/gems/compass-1.0.3/bin/compass:44:in `<top (required)>'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/bin/compass:23:in `load'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/bin/compass:23:in `<main>'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/bin/ruby_executable_hooks:15:in `eval'
/Users/rdrew/.rvm/gems/ruby-1.9.3-p551@omega.lmmi_2015/bin/ruby_executable_hooks:15:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"\": expected selector, was \"<<<<<<< HEAD\"\A         on line 1 of /Users/rdrew/themes/lmmi_2015/sass/components/_search.scss\A         from line 17 of /Users/rdrew/themes/lmmi_2015/sass/components/**/*\A         from line 23 of /Users/rdrew/themes/lmmi_2015/sass/lmmi-2015.styles.scss\A         from line 5 of /Users/rdrew/themes/lmmi_2015/sass/lmmi-2015.no-query.scss\A \A 1: $breakpoint-no-queries: true;\A 2: $breakpoint-no-query-fallbacks: true;\A 3: \A 4: // Re-render everything from styles.scss but without media queries.\A 5: @import \"lmmi-2015.styles\";"; }
