/*.block--search-navigation {*/
	/*display: inline-block;*/
	/*float: right;*/
/*}*/
div#block-islandora-solr-search-navigation {
    float: right;
    display: inline-block;
}
.page-islandora-object .l-content h1 {
    display: inline-block;
}
.block--search-navigation--list {
	@include horizontal-list;
}

.block--search-navigation--list-item a {
	@extend button;

	/*@extend .green;*/

	background-color: $light-green;

	&:hover,
	&:focus {
		background-color: shade($light-green, 20%)!important;
		color: #fff;
	}

	&:disabled {
		cursor: not-allowed;
		opacity: 0.5;

		&:hover {
			background-color: $light-green;
		}
	}

	&:hover {
		//@include small-shadow;
		background: $light-green;

		@include transition;
	}

	/*color:white;*/
}

/*.block--search-navigation--list-item a {*/
/*[>@extend button;<]*/
/*background: #f9f7f9;*/
/*background: white;*/
/*padding: 5px 10px !important;*/
/*border: $base-border;*/
/*border-radius: 4px;*/
/*color: $base-font-color;*/
/*font-family: $roboto_condensed;*/
/*text-transform: uppercase;*/
/*line-height: 0;*/
/*font-size: .9em;*/

/*&:hover {*/
/*//@include small-shadow;*/
/*background: $light-green;*/

/*@include transition;*/
/*}*/

/*[>color:white;<]*/
/*}*/
