.islandora-openseadragon {
	display: block;
	width: 100%;
	height: 1000px;
	@include green-box();
}

.islandora-book-metadata > div {
	@include green-box();
}
.islandora-metadata {
	margin-top: $base-spacing;

	dl p {
		margin-bottom: 0;
	}

	dt {
		font-family: $sans-serif-2;
		border-bottom: $base-border;
	}
}
