.paragraphs--media-block {
  &--image {
    border: 1px solid #ccc;
    padding: 4px;
    margin-bottom: 1em;
  }

  &--image--caption {
    font-weight: bold;
  }

  &--text {
    /*@include span-columns(9);*/
    /*@include span-columns( 5 of 10 );*/
  }

  @include outer-container;

  &.img-20 {
    .paragraphs--media-block--image {
      @include span-columns(2 of 10);
    }
  }

  &.img-30 {
    .paragraphs--media-block--image {
      @include span-columns(3 of 10);
    }
  }

  &.img-40 {
    .paragraphs--media-block--image {
      @include span-columns(4 of 10);
    }
  }

  &.img-50 {
    .paragraphs--media-block--image {
      @include span-columns(5 of 10);
    }
  }

  &.img-60 {
    .paragraphs--media-block--image {
      @include span-columns(6 of 10);
    }
  }

  &.img-70 {
    .paragraphs--media-block--image {
      @include span-columns(7 of 10);
    }
  }

  &.img-80 {
    .paragraphs--media-block--image {
      @include span-columns(8 of 10);
    }
  }
}
