/*******************************************************************************
 * off-canvas.layout.scss
 *
 * Styling of the Off Canvas layout.
 ******************************************************************************/
/*******************************************************************************
 * Off canvas portion of styling for the Off Canvas layout.
 ******************************************************************************/
.l-off-canvas-show,
.l-off-canvas-hide {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  width: 24px;
  height: 24px;
  background: transparent url("../../../layouts/lmmi-01/assets/close.png") center center no-repeat;
  text-indent: -119988px;
  overflow: hidden;
  text-align: left;
  text-transform: capitalize;
}

.l-off-canvas-show {
  background: transparent url("../../../layouts/lmmi-01/assets/menu.png") center center no-repeat;
}

@media (min-width: 0) and (max-width: 785px) {
  .no-js .l-off-canvas {
    position: relative;
    min-height: 24px;
    padding-right: 24px;
  }
  .no-js .l-off-canvas .l-region {
    position: relative;
    overflow: hidden;
  }
  .no-js .l-off-canvas .l-off-canvas-hide {
    display: block;
  }
  .no-js .l-off-canvas:not(:target) .l-region {
    min-height: 0;
    height: 0;
  }
  .no-js .l-off-canvas:not(:target) .l-off-canvas-show {
    display: block;
  }
  .no-js .l-off-canvas:not(:target) .l-off-canvas-hide {
    display: none;
  }

  .js .l-page {
    position: relative;
    height: 100%;
    padding-left: 12%;
  }

  .js .l-off-canvas {
    position: absolute;
    z-index: 99;
    width: 80%;
    top: 0;
    bottom: 0;
    left: -70%;
    padding-top: 24px;
    -moz-transition: left 0.2s ease-in;
    -o-transition: left 0.2s ease-in;
    -webkit-transition: left 0.2s ease-in;
    transition: left 0.2s ease-in;
    cursor: pointer;
  }
  .js .l-off-canvas.is-visible {
    left: 0;
    cursor: auto;
  }
  .js .l-off-canvas.is-visible .l-off-canvas-show {
    display: none;
  }
  .js .l-off-canvas.is-visible .l-off-canvas-hide {
    display: block;
  }
  .js .l-off-canvas .l-off-canvas-show {
    display: block;
  }
}
.l-header .container,
.l-main,
.l-footer .container {
  max-width: 1100px;
  margin-left: auto;
  margin-right: auto;
  *zoom: 1;
}
.l-header .container:after,
.l-main:after,
.l-footer .container:after {
  content: " ";
  display: block;
  clear: both;
}
.l-header .container:after,
.l-main:after,
.l-footer .container:after {
  content: "";
  display: table;
  clear: both;
}

.l-header,
.l-main,
.l-footer {
  margin-bottom: 20px;
}

.l-main,
.branding-container,
.l-footer {
  padding-left: 10px;
  padding-right: 10px;
}

.l-main {
  padding-bottom: 10px;
}

.l-off-canvas {
  clear: both;
}

@media (min-width: 44em) {
  .l-header .container,
  .l-main,
  .l-footer .container {
    max-width: 1100px;
  }

  .l-region--navigation {
    clear: both;
  }

  .has-sidebar-first .l-content,
  .has-sidebar-second .l-content,
  .has-two-sidebars .l-content {
    width: 66.10169%;
    float: left;
    margin-right: 1.69492%;
  }
  .has-sidebar-first .l-region--sidebar-first,
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-first,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 32.20339%;
    float: right;
    margin-right: 0;
  }
  .has-sidebar-first .l-region--sidebar-second,
  .has-sidebar-second .l-region--sidebar-second,
  .has-two-sidebars .l-region--sidebar-second {
    clear: right;
  }
}
@media (min-width: 880px) {
  .l-branding {
    width: 74.57627%;
    float: left;
    margin-right: 1.69492%;
  }

  .l-region--header {
    width: 23.72881%;
    float: right;
    margin-right: 0;
  }
}
@media (min-width: 70em) {
  .l-branding {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
  }

  .l-region--header {
    width: 24.05063%;
    float: right;
    margin-right: 0;
  }

  .has-sidebar-first .l-content {
    width: 74.68354%;
    float: right;
    margin-right: 0;
  }
  .has-sidebar-first .l-region--sidebar-first {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }

  .has-sidebar-second .l-content {
    width: 74.68354%;
    float: left;
    margin-right: 1.26582%;
  }
  .has-sidebar-second .l-region--sidebar-second {
    width: 24.05063%;
    float: right;
    margin-right: 0;
    clear: none;
  }

  .has-two-sidebars .l-content {
    width: 49.36709%;
    float: left;
    margin-right: 1.26582%;
    margin-left: 25.31646%;
  }
  .has-two-sidebars .l-region--sidebar-first,
  .has-two-sidebars .l-region--sidebar-second {
    width: 24.05063%;
    float: left;
    margin-right: 1.26582%;
  }
  .has-two-sidebars .l-region--sidebar-first {
    margin-left: -75.94937%;
  }
  .has-two-sidebars .l-region--sidebar-second {
    float: right;
    margin-right: 0;
    clear: none;
  }
}
